{% extends 'base.html.twig' %}
{% from 'macros/title.macro.twig' import title, subtitle %}

{% block title %}Hello World!{% endblock %}

{% block body %}

<div class="example-wrapper">

    {# Pour la visibiltié, on créé une variable "title" #}
    {% set title = "Hello " ~ controller_name ~ "! ✅" %}

    {# On applique notre modificateur personnalisé sur la variable #}
    {{ title(title|custom_capitalize) }}
    {{ title(title|custom_capitalize(false)) }}

    {{ subtitle("Sous-titre") }}

    {# Affichage du tableau des livres #}
    <ul class="list-group">
        {% for book in data %}
        <li class="list-group-item">{{ book }}</li>
        {% else %}
        <li class="list-group-item list-group-item-warning">Aucune donnée disponible</li>
        {% endfor %}
    </ul>

    {# Affiche une image se trouvant dans les asset #}
    <img src="{{ asset('images/picture.webp') }}">

    {# Appels de notre composant TWIG : BootstrapButton #}
    <twig:BootstrapButton text="Cliquez ici" type="success" />
    <twig:BootstrapButton text="Bouton" isOutlined />

    <twig:BootstrapCard 
        title="Mon image #1" 
        imgSrc="https://picsum.photos/200"
        btnLink="/images/1"
        btnLabel="Cliquez ici"
    >
        <p>Ceci est le texte de mon contenu</p>
        <p>En format <strong>HTML</strong></p>

    </twig:BootstrapCard>

</div>
{% endblock %}
